body{
    background-color: aquamarine; color: rgb(178, 98, 98);
}
.le{
    background-color: aqua; color: brown;
}
.chan{
    background-color: bisque;color: rgb(124, 196, 137) ;
}
#para4{
    background-color: chocolate;
}
p{
    font-family: sans-serif, 'Lucida Sans';
    font-size: 20px;
     border-style: solid;
     border-width: 2px;
     border-color: black;
}

